body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("assets/123.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
h1 {
    margin: 0;
    color: #1c1c1c;
    font-weight: 500;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
}
.auth-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    gap: 20px;
    width: 370px;
    padding: 30px;
    margin-top: 120px;
    border-radius: 30px;
}
.logo {
    display: flex;
    gap: 20px;
    height: 40px;
}
.logo_image {
    max-height: 100%;
}
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input {
    border: 2px solid lightgray;
    border-radius: 20px;
    box-sizing: border-box;
    height: 50px;
    font-size: 17px;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
    padding: 20px;
    background: inherit;
}
input:focus {
    outline: #1c1c1c;
    border-color: #1c1c1c;
}
button {
    border-radius: 20px;
    border: none;
    height: 50px;
    font-size: 17px;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: #1c1c1c;
    color: whitesmoke;
}
button:hover {
    background: black;
}